.editForm {
  padding: 50px 20px;
  height: 100%;
}

.editInput {
  height: 200px;
  padding: 20px;
  border: 2px solid cornflowerblue;
  border-radius: 10px;
  margin-bottom: 20px;
  outline-color: #2a5ebd;
  background-color: rgba(100, 149, 237, 0.3);
}

.editButton {
  background: transparent;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.editButton:hover {
  background: cornflowerblue;
}

.editButton:active {
  background: #4174d3;
  border-color: #4174d3;
}
