.addForm {
  margin-bottom: 20px;
}

.addFormInput {
  padding: 10px;
  border: 2px solid cornflowerblue;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 149, 237, 0.3);
}

.addFormInput:focus {
  border: 2px solid #2a5ebd;
}
