.taskLi {
  border: 1px solid black;
  position: relative;
}

.taskBox {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  text-align: center;
}

.taskItem {
  display: inline;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
  color: grey;
  text-align: start;
}

.tooltip {
  display: block;
  visibility: hidden;
  background-color: #cfcfcf;
  color: #575757;
  font-size: 10px;
  width: auto;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 101;
  top: 0%;
  right: 0%;
  opacity: 0;
  transition: opacity 0.3s;
}

.taskItem:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.taskButton {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
  max-width: max-content;
  padding: 5px 10px;
  align-self: center;
}
