.taskLi {
  position: relative;
  margin-bottom: 10px;
  border-top: 1px solid cornflowerblue;
}

.taskBox {
  display: flex;
  flex-wrap: wrap;
}

.taskTitle {
  display: flex;
  justify-content: start;
  align-content: flex-start;
  margin-bottom: 10px;
}

.taskTitle::before {
  content: counter(item) ". ";
  counter-increment: item;
  margin-right: 5px;
}

.taskItem {
  display: inline;
  text-overflow: ellipsis;
  cursor: default;
  color: grey;
  text-align: start;
}

.tooltip {
  display: block;
  visibility: hidden;
  background-color: #cfcfcf;
  color: #575757;
  font-size: 10px;
  width: auto;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 101;
  top: 0%;
  right: 0%;
  opacity: 0;
  transition: opacity 0.3s;
}

.taskItem:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.taskButtonBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.taskButton {
  font-size: 10px;
  padding: 5px;
  margin: 0 auto;
}
