.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 20px auto;
  width: 80%;
  height: 90vh;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(100, 149, 237, 0.2);
}

.block1 {
  display: flex;
  justify-content: space-between;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.taskListBox {
  padding: 20px;
}

.search {
  padding: 10px;
  border: 2px solid cornflowerblue;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 149, 237, 0.3);
}

.search:focus {
  border: 2px solid #2a5ebd;
}

.taskList {
  height: 58vh;
  overflow-y: auto;
}

.blockResize {
  width: 20px;
  background-color: black;
  border: 1px solid black;
  cursor: col-resize;
}
