* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  outline: none;
}

button {
  background: transparent;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  width: max-content;
}

button:hover {
  background: cornflowerblue;
}

button:active {
  background: #4174d3;
  border-color: #4174d3;
}
